@import "mixin";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form, input, select, textarea, button {
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.container {
  $paddingContainer: 16px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 #{$paddingContainer};
  @include MQ(m-desctop) {
    max-width: calc(1024px - #{$paddingContainer * 2});
  }
  @include MQ(l-tablet) {
    max-width: calc(768px - #{$paddingContainer * 2});
  }
  @include MQ(m-tabled) {
    max-width: calc(640px - #{$paddingContainer * 2});
  }
  @include MQ(phone) {
    max-width: 100%;
  }
}

main {
  min-height: 50vh;
}

.page {
   position: relative;
  overflow: hidden;
 }

img {
  display: block;
}

a {
  text-decoration: none;
}

.whats-app {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 3000;
  animation: scale 10s ease-in-out infinite;

  @keyframes scale {
    from {
      transform: scale(1);
    }
    94% {
      transform: scale(1);
    }
    97% {
      transform: scale(1.5);
    }
    to {
      transform: scale(1);
    }
  }

  @media (max-width: 840px) {
    right: 40px;
    bottom: 50px;
  }

  @media (max-width: 640px) {
    right: -8px;
    bottom: 120px;
  }


  img {
    filter: drop-shadow(0 4px 36px rgba(0, 0, 0, 0.15));
    @media (max-width: 640px) {
      width: 75%;
    }
  }
}