$maxWidth: 1920;

@mixin responsiveFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 640px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 640px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}


@mixin MQ($size) {
  @if $size == m-desctop {
    @media (max-width: 1200px) { @content; }
  } @else if $size == l-tablet {
    @media (max-width: 1024px) { @content; }
  } @else if $size == m-tabled {
    @media (max-width: 768px) { @content; }
  } @else if $size == phone {
    @media (max-width: 640px) { @content; }
  }
}
