@import "mixin";

h1.title-page {
  font-family: "IBM Plex Serif", sans-serif;
  font-weight: normal;
  font-size: 46px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;

  @media(max-width: 1024px) {
    font-size: 22px;
  }

  span {
    position: relative;
  }
}

.border {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(135deg, #FDEB71 0%, #F8D800 100%);
  }
}

h2.section-title {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #191D25;

  @media(max-width: 1024px) {
    font-size: 24px;
  }

  &:after {
    bottom: -5px;
  }
}

h3.title-block {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;

  &.border {
    &:after {
      height: 1px;
      bottom: -2px;
    }
  }
}

.button {
  background: linear-gradient(135deg, #FDEB71 0%, #F8D800 100%);
  border-radius: 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #141414;
  padding: 13px 42px;
}
