{% load static %}

<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="{% url 'index_page' %}" class="logo">
                <img src="{% static 'img/svg/logo_header.svg' %}"
                     alt="load img">
            </a>
            <div class="list-link__wrapper">
                <ul class="header__list-link">
                    <li class="header__link" id="our_service">
                        <a class="link-anchor" id="our_service_link" href="#our-service">Наши услуги</a>
                    </li>
                    <li class="header__link" id="our_directions">
                        <a class="link-anchor" id="our_directions_link" href="#our-directions">Наши направления</a>
                    </li>
                    <li class="header__link">
                        <a href="{% url 'gallery_page' %}">Наши работы</a>
                    </li>
                </ul>
                <div class="footer-link">
                    <a class="insta" href="https://www.instagram.com/wallsprint.kg/?utm_medium=copy_link">WALLSprint.kg</a>
                    <a class="location">г. Бишкек</a>
                    <a class="phone" href="tel:+996 700 12 34 56">+996 700 833 733</a>
                </div>
            </div>
            <div class="menu-hamburger">
                <div class="menu-hamburger__icon">
                    <div class="icon-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
