.footer {
  position: relative;
  background: #141414;
  padding: 20px 0 27px;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 362px;
    height: 591px;
    right: 0;
    background: url("../img/png/decor5.png") center no-repeat;

    @media(max-width: 640px) {
      display: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 380px;
    height: 353px;
    left: 22%;
    background: url("../img/png/decor6.png") center no-repeat;

    @media(max-width: 640px) {
      background: url("../img/png/mobile-decor6.png") left no-repeat;
      background-size: cover;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 64px;
    }
  }

  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 768px) {
      flex-direction: column;
    }

    @media(max-width: 425px) {
      align-items: flex-start;
    }

    .logo {
      max-width: 204px;

      @media(max-width: 1024px) {
        max-width: 167px;
      }

      @media(max-width: 768px) {
        margin: 0 0 30px;
      }

      @media(max-width: 425px) {
        margin: 0 auto 30px;
      }
    }
  }
}

.footer-link {
  display: flex;
  align-items: center;

  @media(max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  a {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 0 0 42px;

    @media(max-width: 1024px) {
      margin: 0 0 0 20px;
    }

    @media(max-width: 768px) {
      margin: 0 0 15px 0;
    }

    &:before {
      content: "";
      width: 22px;
      height: 22px;
      min-width: 22px;
      margin: 0 6px 0 0;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.insta {
      &:before {
        background-image: url("../img/svg/insta.svg");
      }
    }

    &.location {
      &:before {
        background-image: url("../img/svg/location.svg");
      }
    }

    &.phone {
      &:before {
        background-image: url("../img/svg/phone.svg");
      }
    }
  }
}