.header {
  position: relative;
  padding: 14px 0;

  @media(max-width: 640px) {
    padding: 12px 0;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 533px;
    background: url("../img/png/decor1.png") center no-repeat;
    background-size: contain;

    @media(max-width: 640px) {
      background: url("../img/png/mobile-decor1.png") center no-repeat;
      background-size: contain;
      width: 172px;
      right: 12%;
    }
  }
}

.header__content {
  display: flex;
  align-items: center;

  @media(max-width: 640px) {
    justify-content: space-between;
  }

  .logo {
    max-width: 98px;
    margin: 0 64px 0 0;

    @media(max-width: 768px) {
      margin: 0 32px 0 0;
    }
  }

  .list-link__wrapper {
    @media(max-width: 640px) {
      background: #101010;
      padding: 36px 48px 36px 34px;
      position: fixed;
      z-index: 100;
      top: 62px;
      bottom: 0;
      right: 0;
      left: 47px;
      transition: .2s;
      transform: translateX(100%);
      overflow: auto;

      &.show {
        transform: translateX(0);
      }
    }

    .footer-link {
      display: none;

      @media(max-width: 640px) {
        display: block;
        padding: 25px 0 0 0;
        border-top: 1px solid #F8D800;
        margin: 0 0 0 -10px;

        a {
          margin: 0 0 35px 10px;
        }
      }
    }
  }

  .header__list-link {
    display: flex;
    align-items: center;

    @media(max-width: 640px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .header__link {
      margin: 0 36px 0 0;

      @media(max-width: 768px) {
        margin: 0 16px 0 0;
      }

      @media(max-width: 640px) {
        margin: 0 0 30px;

        &:last-child {
          margin: 0 0 21px;
        }
      }

      a {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #191D25;

        @media(max-width: 640px) {
          color: #FFFFFF;
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }
}

.menu-hamburger {
  display: none;

  @media(max-width: 640px) {
    display: block;
    position: relative;
    z-index: 550;

    .menu-hamburger__icon {
      display: flex;
      justify-content: flex-end;


      .icon-hamburger {
        display: inline-block;
      }

      span {
        display: block;
        width: 24px;
        height: 2px;
        background: #101010;
        margin: 0 0 4px 0;
        transition: .3s;

        &:nth-child(2) {
          position: absolute;
        }
      }
    }

    &.active-mobil-menu {

      .menu-hamburger__icon {
        span {
          opacity: 0;
          transition: .3s;

          &:nth-child(2) {
            opacity: 1;
            transform: rotate(45deg);
          }

          &:nth-child(3) {
            opacity: 1;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}