{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}
{% block page %}another-background gallery-page{% endblock %}
{% block style-libs %}
        <link rel="stylesheet" href="{% static 'light-gallery/gallery/css/lightgallery.min.css' %}">
{% endblock %}

{% block content %}
    <section class="gallery-section">
        <div class="container">
        {% if request.user.is_authenticated %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <label for="id_image">
                    <input class="input" type="file" name="image" id="id_image" hidden>
            <span class="input-file button">Прикрепить</span>
        </label>
            <button class="button" type="submit">Добавить</button>
        </form>
        {% endif %}
            <div class="gallery__content" id="lightgallery">
{#                <a href="{% static 'img/jpg/add-circle-1_48180.png' %}">#}
{#                    <img src="{% static 'img/jpg/add-circle-1_48180.png' %}" alt="" style="background: whitesmoke">#}
{#                </a>#}
                {% for image in images %}
                    <a href="{{ image.image.url }}">
                    <img src="{{ image.image.url }}" alt="" style="width: 224px; height: 224px">
                    </a>
                {% endfor %}
{#                <a href="{% static 'img/jpg/img1.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img1.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img2.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img2.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img3.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img3.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img1.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img1.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img2.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img2.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img3.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img3.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img1.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img1.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img2.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img2.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img3.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img3.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img1.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img1.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img2.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img2.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img3.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img3.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img1.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img1.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img2.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img2.jpg' %}" alt="">#}
{#                </a>#}
{#                <a href="{% static 'img/jpg/img3.jpg' %}">#}
{#                    <img src="{% static 'img/jpg/img3.jpg' %}" alt="">#}
{#                </a>#}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'light-gallery/gallery/js/lightgallery-all.min.js' %}"></script>
    <script src="{%  static 'js/login_modal.js' %}"></script>
{#    LOGIN BUTTON#}
    {% if not request.user.is_authenticated %}
    <script>
        $('.header__list-link').append('<li class="header__link login" ' +
            'style="color:black">Войти</li>');
        $('.login').click(function () {
            $('.modal_login').addClass('show');
            console.log('SHOW!')
        })
    </script>
    {% endif %}
{#    END LOGIN BUTTON#}
    <script>
        $(document).ready(function () {
            $('#lightgallery').lightGallery();
        });
        $('#our_service').click(function () {
            window.location.replace(window.location.origin + '#our-service')
            });
        $('#our_directions').click(function () {
            window.location.replace(window.location.origin + '#our-directions')
            });
    </script>
{% endblock %}
