{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="main-section__content">
                <div class="left">
                    <h1 class="title-page"><span
                            class="border">Цифровая роспись </span>стен
                        {{ materials}}
                    </h1>
                    <p>Воплатим вашу фантазию</p>
                    <a class="button link-anchor" href="#form-section">Сделать заказ</a>
                </div>
                <div class="right">
                    <div class="right-img">
                        <img src="{% static 'img/jpg/main.jpg' %}"
                             alt="load img">
                    </div>
                </div>
                <div class="logo-bottom">
                    <img src="{% static 'img/svg/logo-bottom.svg' %}"
                         alt="load img">
                </div>
            </div>
        </div>
    </section>
    <section class="our-service" id="our-service">
        <div class="container">
            <div class="our-service__content">
                <div class="left">
                    <div class="left-img">
                        <img src="{% static 'img/png/image.png' %}"
                             alt="load img">
                    </div>
                </div>
                <div class="right">
                    <h2 class="section-title border">Наши услуги</h2>
                    <p class="description-mobile">Предлагаем вашему вниманию
                        высокоскоростную высококачественную печать любых
                        размеров и на любых поверхностях</p>
                    <div class="right__list-info">
                        <div class="list-info__all">
                            <div class="list-info">
                                <h3 class="title-block border">преимущества</h3>
                                <ul class="list-one">
                                    <li>Качественно</li>
                                    <li>100% детализация</li>
                                    <li>Любые поверхности</li>
                                    <li>Без сушки</li>
                                    <li>Скорость 2,5 м2 час</li>
                                    <li>Любой эскиз</li>
                                    <li>Любой размер</li>
                                    <li>Стойкость цвета в помещении до 10 лет,
                                        на улице - до 5 лет
                                    </li>
                                    <li>Можно протирать неагрессивными моющими
                                        или дезинфицирующими средствами
                                    </li>
                                </ul>
                            </div>
                            <div class="list-info__wrapper">
                                <div class="list-info">
                                    <h3 class="title-block border">Печать
                                        на:</h3>
                                    <ul class="list-two">
                                        <li>Кожа</li>
                                        <li>Пластик</li>
                                        <li>Ткань</li>
                                        <li>Холст</li>
                                        <li>Кирпич</li>
                                        <li>Обои</li>
                                        <li>Стекло</li>
                                        <li>Дерево</li>
                                        <li>Металл</li>
                                        <li>Паркет</li>
                                        <li>Ламинат</li>
                                        <li>Штукатурка</li>
                                    </ul>
                                </div>
                                <div class="left-img">
                                    <img src="{% static 'img/png/image.png' %}"
                                         alt="load img">
                                </div>
                            </div>
                        </div>
                        <div class="right__image">
                            <img src="{% static 'img/jpg/our-block__image.jpg' %}"
                                 alt="load img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-directions" id="our-directions">
        <div class="container">
            <div class="our-directions__content">
                <div class="our-directions__card">
                    <div class="card__inner">
                        <div class="our-directions__img">
                            <img src="{% static 'img/png/our-directions.png' %}"
                                 alt="load img">
                        </div>
                        <div class="description" data-mh="height">
                            <h3>Для дома</h3>
                            <p>ЭКО-дизайн интерьера в Вашем доме
                                на стенах, мебели, полотнах, стеклах</p>
                        </div>
                    </div>
                </div>
                <div class="our-directions__card">
                    <div class="card__inner">
                        <div class="our-directions__img">
                            <img src="{% static 'img/jpg/our_directors.jpg' %}"
                                 alt="load img">
                        </div>
                        <div class="description">
                            <div class="title-wrapper">
                                <h2 class="section-title border">
                                    Наши направления</h2>
                            </div>
                            <p>Предлагаем вашему вниманию
                                высокоскоростную высококачественную печать любых
                                размеров и на любых поверхностях</p>
                        </div>
                    </div>
                </div>
                <div class="our-directions__card">
                    <div class="card__inner">
                        <div class="our-directions__img">
                            <img src="{% static 'img/png/our-directions2.png' %}"
                                 alt="load img">
                        </div>
                        <div class="description" data-mh="height">
                            <h3>Для бизнеса</h3>
                            <p>Оформление торговых и бизнес центров, медицинских
                                учреждений, банков, детских садов, школ,
                                кафе и ресторанов, салонов красоты, спорт
                                клубов, бань</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form-section" id="form-section">
        <div class="container">
            <div class="form-section__content">
                <a href="{% url 'individual_order' %}" class="order input-file">Индивидуальный заказ</a>
                <div class="form-section__img">
                    <img src="{% static 'img/jpg/form-img.jpg' %}"
                         alt="load img">
                </div>
                <div class="form-content">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="section-title border">Оформить заказ</h2>
                        <label class="input-text">
                        {{ order_form.first_name  }}
{#                            <input class="input" type="text" name="first_name"#}
{#                                   id="id_first_name"#}
{#                                   placeholder="Как к Вам обращаться?">#}
                            {% if order_form.first_name.errors %}
                                <span class="error">
                                    {{ order_form.first_name.errors }}
                                </span>
                            {% endif %}
                        </label>
                        <label class="input-text">
                            {{ order_form.phone_number }}
                             {% if order_form.phone_number.errors %}
                                <span class="error">
                                 {{ order_form.phone_number.errors }}
                                </span>
                             {% endif %}
{#                            <input class="input phone_mask" type="text"#}
{#                                   name="phone_number" id="id_phone_number"#}
{#                                   placeholder="Номер телефона">#}
                        </label>

                        <div class="input-text dropdown">
                            <span class="input dropdown-but">Тип поверхности</span>
{#                        <select class="input dropdown-but" name="material" id="id_material">#}
                            <div class="dropdown-content">
{#                                <div class="hidden_material" hidden>{{ order_form.material }}</div>#}
{#                            <select class="dropdown-content" name="material" id="id_material">#}
                                <ul>
{#                                <select class="dropdown-content" name="material" id="id_material">#}
                                 {% for select in order_form.material %}
{#                                     {% if select == '<option value selected>---------</option>' %}#}
{#                                     <option value selected>SALAM</option>#}
{#                                     {% endif %}#}
                                     <li> {{ select }}</li>
                                {% endfor %}
                                </ul>
{#                            </select>#}
{#                                <ul>#}
{#                                    <li>Кожа</li>#}
{#                                    <li>Пластик</li>#}
{#                                    <li>Ткань</li>#}
{#                                    <li>Холст</li>#}
{#                                    <li>Кирпич</li>#}
{#                                    <li>Обои</li>#}
{#                                    <li>Стекло</li>#}
{#                                    <li>Дерево</li>#}
{#                                    <li>Металл</li>#}
{#                                    <li>Паркет</li>#}
{#                                    <li>Ламинат</li>#}
{#                                    <li>Штукатурка</li>#}
{#                                </ul>#}
                            </div>
                        <div class="hidden_material hidden" hidden>
                            {{ order_form.material }}
                        </div>
                            <span class="error">
                                {% if order_form.material.errors %}
                                    {{ order_form.material.errors }}
                                {% endif %}

                            </span>
                        {{ order_form.image }}
                        </div>
                        <h2 class="section-title form-title">Рассчитать
                            стоимость</h2>
                        <div class="range-slider__all">
                            <label class="range_slider">
                                <span class="value">Высота, см
                                </span>
                                <input type="number" id="height" name="height" maxlength="4"
                                max="10000" min="20" minlength="2">
                                <input type="text"
                                       class="js-range-slider js-range-slider1"
                                       value=""/>
                                <span class="value margin" id="range1">0</span>
                            </label>
                            <label class="range_slider">
                                <span class="value">Ширина, см</span>
                                <input type="number" id="width" name="width" maxlength="4"
                                max="10000" min="20" minlength="2">
                                <input type="text"
                                       class="js-range-slider js-range-slider2"
                                       value=""/>
                                <span class="value margin" id="range2">0</span>
                            </label>
                        </div>
                        <label class="input-text">
                            {{ order_form.price }}
                            <span class="error">
                                {% if order_form.price.errors %}
                                    {{ order_form.price.errors }}
                                {% endif %}

                            </span>
{#                            <input class="input" id="price" name="price" type="text" placeholder="Цена">#}
                        </label>
                        <label for="id_image">
                            <input class="input" type="file" name="image" id="id_image">
                            <span class="input-file">Прикрепить фото</span>
                        </label>
                        <button class="button" type="submit">Оформить</button>
                        <a href="{% url 'individual_order' %}" class="order input-file">Индивидуальный
                            заказ</a>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    {% if success %}
    <script>
        $('#modal_success').addClass('show')
    </script>
    {% endif %}
    <script>
        $(".dropdown li").on("click", function () {

            $('.dropdown-but').addClass("active").removeClass("show")
                    .text($(this).text());
            let text =$(this).text();
            let my_variable = text;
            $('#material_text').val(text);
            $('#id_material').find('option[value='+ my_variable +']').attr("selected", true);
            $('.dropdown-content').slideUp(200);
        });

        $('.dropdown-but').on("click", function () {
            if ($(this).hasClass("show")) {
                $(this).removeClass("show");
                $(this).next().slideUp(200);
            } else {
                $(this).addClass("show");
                $(this).next().slideDown(200);
            }
        });

        $(".js-range-slider1").ionRangeSlider({
            skin: "round",
            hide_min_max: true,
            from: 20,
            min: 20,
            max: 1000,
            step: 5,
            onChange: function (data) {
                $('#range1').text(data.from);
                $('#height').val(data.from);
                priceCount();
            }
        });

        $(".js-range-slider2").ionRangeSlider({
            skin: "round",
            hide_min_max: true,
            from: 20,
            min: 20,
            max: 1000,
            step:5,
            onChange: function (data) {
                $('#range2').text(data.from);
                $('#width').val(data.from);
                priceCount();
            }
        });

        function priceCount(){
            let area = parseInt($('#range1').text()) * parseInt($('#range2').text()) / 10;
            {#let price = Math.round(Math.sqrt(area) * 30);#}
            let price = 0;
            if (area >= 2000 && area <= 4000) {
                price = area * 3;
            } else if (area >= 4000 && area < 10000){
                price = area * 2.5;
            } else if (area >= 10000) {
                price = area * 2;
            } else {
                price = area * 3.5
            }
            if(price) {
                $('#id_price').val(price);
            } else {
                $('#id_price').val(0);
            }
        }

        $('#height').keyup(function(){
            $('#range1').text(this.value);
            if (this.value.length > 5) {
            this.value = this.value.slice(0,5);
            }
            priceCount()
        });

        $('#width').keyup(function(){
            $('#range2').text(this.value);
            if (this.value.length > 5) {
            this.value = this.value.slice(0,5);
            }
            priceCount()
        });
    </script>
{% endblock %}
