{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}
{% block page %}another-background{% endblock %}

{% block content %}
    <section class="individual-order">
        <div class="container">
            <div class="individual-order__content">
                <div class="left">
                    <div class="left-image">
                        <img src="{% static 'img/jpg/individual-left.jpg' %}"
                             alt="load img">
                        <div class="description">
                            Мы выполним за Вас работу под ключ. Если не знаете,
                            что нанести на поверхность, не знаете как
                            разнообразить свое пространство, то Вы можете нам
                            написать и наш дизайнер разработает для Вас
                            персональный эскиз
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="form-section__content">
                        <form action="" method="post">
                        {% csrf_token %}
                            <h2 class="section-title">
                                Если у Вас остались вопросы
                            </h2>
                            <p class="description">Оставьте заявку и мы
                                обязательно Вам перезвоним</p>
                            <label class="input-text">
                                {{ individual_order_form.first_name  }}
                                {% if order_form.first_name.errors %}
                                    <span class="error">
                                        {{ order_form.first_name.errors }}
                                    </span>
                                {% endif %}
{#                                <input class="input" type="text"#}
{#                                       placeholder="Как к Вам обращаться?">#}
{#                                <span class="error">ошибка</span>#}
                            </label>
                            <label class="input-text">
                                {{ individual_order_form.phone_number }}
                             {% if individual_order_form.phone_number.errors %}
                                <span class="error">
                                 {{ individual_order_form.phone_number.errors }}
                                </span>
                             {% endif %}
{#                                <input class="input phone_mask" type="text"#}
{#                                       placeholder="Номер телефона">#}
                            </label>
                            <label class="input-text">
                                {{ individual_order_form.comment }}
{#                                <textarea class="input textarea" type="text"#}
{#                                              placeholder="Комментарий"></textarea>#}
                            </label>
                            <button class="button" type="submit">Отправить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {% if success %}
    <script>
        $('#modal_success').addClass('show')
    </script>
    {% endif %}
    <script>
$('#our_service').click(function () {
    window.location.replace(window.location.origin + '#our-service')
    });
$('#our_directions').click(function () {
    window.location.replace(window.location.origin + '#our-directions')
    });
    </script>
{% endblock %}
