.modal-success {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: none;

  &.show {
    display: block;
  }

  .modal {
    position: relative;
    max-width: 496px;
    margin: 50px auto;
    border-radius: 2px;

    @media(max-width: 528px) {
      margin: 50px 16px;
    }

    .modal-inner {
      padding: 38px 68px;
      background: #000000;

      @media(max-width: 425px) {
        padding: 16px 45px;
      }
    }

    .close {
      position: absolute;
      top: 26px;
      right: 26px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: url("../img/svg/close.svg") center no-repeat;
    }

    .modal-inner {
      .modal-img {
        position: relative;

        .description {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 25%;
          max-width: 201px;
          width: 100%;
          text-align: center;

          @media(max-width: 425px) {
            max-width: 180px;
          }

          h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #F8D800;
            margin: 0 0 8px;

            @media(max-width: 425px) {
              font-size: 16px;
              line-height: 19px;
            }
          }

          p {
            font-weight: 300;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;

            @media(max-width: 425px) {
              font-size: 12px;
              line-height: 150%;
            }
          }
        }
      }
    }
  }
}