{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="logo">
                <img src="{% static 'img/svg/logo-footer.svg' %}"
                     alt="load img">
            </div>
            <div class="footer-link">
                <a class="insta" href="https://www.instagram.com/wallsprint.kg/?utm_medium=copy_link">WALLSprint.kg</a>
                <a class="location">г. Бишкек</a>
                <a class="phone" href="tel:+996700833733">+996 700 833 733</a>
            </div>
        </div>
    </div>
</footer>
