.another-background {
  &.gallery-page {

    &:after, &:before {
      position: fixed;
    }
  }
}

.gallery__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 12px;
  margin: 0 0 48px;

  @media(max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
  }
}
