.another-background {

  main {
    min-height: calc(100vh - 217px);
  }

  &:after, &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 338px;
    background: url("../img/png/individual1.png") center no-repeat;
    background-size: cover;

    @media(max-width: 640px) {
      display: none;
    }
  }

  &:before {
    content: "";
    right: 0;
    left: auto;
    width: 167px;
    background: url("../img/png/individual2.png") center no-repeat;
    background-size: cover;
  }

  .header {
    margin: 0 0 60px;

    @media(max-width: 640px) {
      margin: 0;
    }

    &:after {
      display: none;

      @media(max-width: 640px) {
        display: block;
      }
    }
  }

  .footer {
    &:after {
      display: none;
    }

    &:before {
      width: 396px;
      height: 293px;
      left: 50%;
      transform: translateX(-50%);
      background: url("../img/png/individual3.png") center no-repeat;

      @media(max-width: 640px) {
        width: 100%;
        height: 48px;
        left: 0;
        transform: translateX(0);
        background: url("../img/png/mobile-decor7.png") center no-repeat;
        background-size: cover;

      }
    }
  }
}

.individual-order__content {
  display: flex;
  align-items: center;
  margin: 0 0 42px;

  @media(max-width: 1024px) {
    flex-direction: column;
    background: #101010;
    border-radius: 2px 2px 6px 6px;
    overflow: hidden;
  }

  @media(max-width: 425px) {
    margin: 0 -16px 48px;
  }

  .left {
    margin: 0 68px 0 0;
    max-width: 610px;

    @media(max-width: 1024px) {
      margin: 0;
      max-width: 100%;
    }

    .left-image {
      position: relative;
      overflow: hidden;
      border-radius: 2px;
      min-height: 340px;

      .description {
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 24px;
        background: linear-gradient(0deg, rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4));
        backdrop-filter: blur(12px);
        border-radius: 2px;
        font-weight: 600;
        font-size: 16px;
        line-height: 135%;
        padding: 22px 16px;
        color: #FFFFFF;
        text-align: center;

        @media(max-width: 1024px) {
          bottom: 0;
          left: 0;
          right: 0;
          padding: 16px;
        }
      }
    }
  }

  .right {
    max-width: 453px;
    width: 100%;

    @media(max-width: 1024px) {
      max-width: 100%;
    }
  }

  .form-section__content {
    @media(max-width: 425px) {
      margin: 0 0 48px;
    }

    form {
      max-width: 100%;
      padding: 38px 46px;
      margin: 0;

      @media(max-width: 1024px) {
        padding: 24px 16px;
      }


      h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 125%;
        margin: 0 0 6px;

        @media(max-width: 1024px) {
          display: none;
        }
      }

      .description {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 0 0 12px;

        @media(max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}