.main-section {
  position: relative;
  background: #000000;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    right: 0;
    width: 232px;
    height: 977px;
    background: url("../img/png/decor2.png") center no-repeat;
    background-size: contain;

    @media(max-width: 640px) {
      background: url("../img/png/mobile-decor2.png") center no-repeat;
      background-size: contain;
      width: 142px;
      height: 129px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 212px;
    height: 628px;
    background: url("../img/png/decor3.png") center no-repeat;
    background-size: contain;

    @media(max-width: 640px) {
      top: 120%;
      background: url("../img/png/mobile-decor3.png") center no-repeat;
      background-size: contain;
      width: 320px;
      height: 320px;
    }
  }

  .main-section__content {
    display: flex;
    position: relative;

    @media(max-width: 640px) {
      flex-direction: column;
      align-items: center;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -78px;
      height: 78px;
      width: 500px;
      left: 7%;
      background: #000000;

      @media(max-width: 1024px) {
        bottom: -50px;
        height: 50px;
      }

      @media(max-width: 640px) {
        display: none;
      }
    }

    .logo-bottom {
      position: absolute;
      z-index: 2;
      bottom: -50px;
      left: 10%;

      @media(max-width: 1024px) {
        max-width: 300px;
        bottom: -30px;
      }

      @media(max-width: 640px) {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0 0 24px;
        max-width: 230px;
      }
    }

    .left {
      align-self: center;
      padding: 40px 0;
      margin: 0 42px 0 0;

      @media(max-width: 640px) {
        align-self: center;
        margin: 0;
        text-align: center;
      }

      .title-page {
        margin: 0 0 73px;
        max-width: 510px;

        @media(max-width: 1024px) {
          margin: 0 0 24px;
        }

        @media(max-width: 640px) {
          max-width: 300px;
        }
      }

      .button {
        @media(max-width: 640px) {
          border-radius: 14px;
          padding: 8px 27px;
          font-weight: normal;
          font-size: 13px;
          line-height: 120%;
        }
      }

      p {
        font-family: "IBM Plex Serif", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 12px;

        @media(max-width: 1024px) {
          font-size: 12px;
        }
      }
    }

    .right {
      position: relative;
      z-index: 1;
      margin: 38px 0 -78px 0;
      align-self: flex-end;

      @media(max-width: 1024px) {
        margin: 38px 0 -50px 0;
      }

      @media(max-width: 640px) {
        order: -1;
        margin: 24px 0 0;
        align-self: center;
      }
    }


    .right-img {
      max-width: 484px;
    }
  }
}

.description-mobile {
  display: none;

  @media(max-width: 640px) {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: -0.03em;
    color: #000000;
  }
}

.our-service {
  position: relative;
  padding: 120px 0 0;
  margin: 0 0 64px;

  @media(max-width: 640px) {
    padding: 48px 0 0;
    margin: 0 0 30px;
  }

  .section-title {
    margin: 0 0 12px;
  }

  .our-service__content {
    display: flex;
    align-items: flex-end;

    .left {
      flex-shrink: 0;

      @media(max-width: 640px) {
        display: none;
      }

      .left-img {
        max-width: 136px;

        @media(max-width: 768px) {
          max-width: 100px;
        }
      }
    }

    .right {
      flex-grow: 1;
      margin: 0 60px 0 0;

      @media(max-width: 1024px) {
        margin: 0;
      }

      .right__list-info {
        display: flex;
        justify-content: space-between;
        background: #000000;
        border-radius: 2px;
        padding: 32px;
        min-height: 448px;

        @media(max-width: 1200px) {
          padding: 16px;
        }

        @media(max-width: 640px) {
          background: transparent;
          padding: 0;
        }

        .list-info__all {
          display: flex;
          align-items: flex-start;
          flex-grow: 1;

          @media(max-width: 640px) {
            flex-direction: column-reverse;
          }

          .list-info__wrapper {
            display: flex;
            align-items: flex-end;

            .left-img {
              display: none;

              @media(max-width: 640px) {
                flex-shrink: 0;
                display: block;
                max-width: 70px;
                margin: 0 0 0 7px;
              }
            }
          }

          .list-info {
            margin: 0 23px 0 0;
            background: #101010;
            border: 1px solid #323232;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 24px 16px;

            @media(max-width: 1024px) {
              &:last-child {
                margin: 0;
              }
            }

            @media(max-width: 640px) {
              margin: 12px 0 0 0;
            }

            .title-block {
              margin: 0 0 19px;
            }

            .list-two {
              columns: 2;
              column-gap: 18px;

              @media(max-width: 375px) {
                column-gap: 0;
                max-width: 180px;
              }
            }

            li {
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;
              color: #FFFFFF;
              margin: 0 0 6px;

              &:last-child {
                margin: 0;
              }
            }
          }
        }

        .right__image {
          margin: -92px -92px 0 0;
          border-radius: 2px;
          overflow: hidden;
          flex-shrink: 0;

          @media(max-width: 1200px) {
            margin: -60px -60px 0 0;
            max-width: 300px;
          }

          @media(max-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }
}

.our-directions {
  margin: 0 0 64px;
  position: relative;

  &:after {
    position: absolute;
    z-index: -1;
    content: "";
    top: -25%;
    width: 83px;
    height: 363px;
    left: 0;
    background: url("../img/png/mobile-decor8.png") center no-repeat;
    background-size: cover;
  }

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: -30%;
    width: 128px;
    height: 183px;
    right: 0;
    background: url("../img/png/mobile-decor9.png") center no-repeat;
    background-size: cover;
  }
}


.our-directions__content {
  display: flex;
  justify-content: space-between;

  @media(max-width: 768px) {
    flex-direction: column;
  }

  .our-directions__card {
    width: 29%;

    @media(max-width: 768px) {
      width: 100%;
      background: #000000;
    }

    &:nth-child(2) {
      width: 42%;

      @media(max-width: 768px) {
        width: 100%;
        order: -1;
        background: transparent;
      }

      .card__inner {
        margin: 0 24px;
        height: 100%;

        @media(max-width: 1024px) {
          margin: 0 12px;
        }

        @media(max-width: 768px) {
          background: transparent;
        }

        .section-title {
          color: #FFFFFF;
        }

        .title-wrapper {
          text-align: center;
          margin: 24px 10px 0;

          @media(max-width: 768px) {
            margin: 0 10px 17px;
          }
        }

        .our-directions__img {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: 0;
          max-height: 100%;

          @media(max-width: 768px) {
            display: none;
          }

          img {
            max-height: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .description {
          background: transparent;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          height: 100%;

          .section-title {
            @media(max-width: 768px) {
              color: #000000;
            }
          }

          p {
            font-weight: 600;
            font-size: 16px;
            line-height: 131%;
            text-align: center;
            color: #FFFFFF;
            padding: 24px 20px;
            margin: 0;
            background: rgba(16, 16, 16, 0.4);
            backdrop-filter: blur(12px);
            border-radius: 0 0 2px 2px;
            letter-spacing: 1px;

            @media(max-width: 768px) {
              display: none;
            }
          }
        }
      }
    }



    .card__inner {
      position: relative;
      background: #010101;
      border-radius: 2px;
      height: calc(100% - 94px);
      margin: 47px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media(max-width: 768px) {
        margin: 0;
      }

      .our-directions__img {
        margin: 48px;
        max-height: 175px;

        @media(max-width: 1024px) {
          margin: 10px;
        }
      }

      img {
        margin: 0 auto;
        max-height: 175px;
      }

      .description {
        background: #0E0E0E;
        padding: 16px 24px;
        margin: 20px;

        @media(max-width: 1024px) {
          margin: 16px;
          padding: 12px 16px;
        }

        h3 {
          text-align: center;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
          margin: 0 0 12px;

          @media(max-width: 1024px) {
            font-size: 18px;
            line-height: 22px;
          }
        }

        p {
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;

          @media(max-width: 1024px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.form-section {
  position: relative;
  margin: 0 0 64px;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -50%;
    width: 225px;
    height: 651px;
    left: 0;
    background: url("../img/png/decor4.png") center no-repeat;

    @media(max-width: 640px) {
      width: 268px;
      height: 202px;
      left: auto;
      right: 0;
      top: -29%;
      background: url("../img/png/mobile-decor4.png") center no-repeat;
      background-size: cover;
    }
  }

  &:after {

    @media(max-width: 640px) {
      content: "";
      position: absolute;
      z-index: -1;
      top: -90%;
      width: 82px;
      height: 264px;
      left: 0;
      background: url("../img/png/mobile-decor10.png") center no-repeat;
      background-size: cover;
    }
  }
}

.form-section__content {
  position: relative;
  z-index: 10;
  border-radius: 2px;
  overflow: hidden;

  @media(max-width: 425px) {
    margin: 0 -16px;
  }

  .input-file {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #F8D800;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 8px;
  }

  .order {
    position: absolute;
    z-index: 10;
    bottom: 32px;
    right: 32px;
    border: 1px solid #FFFFFF;
    padding: 10px 32px;

    @media(max-width: 768px) {
      display: none;
    }
  }

  .form-section__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    @media(max-width: 425px) {
      display: none;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .form-content {
    position: relative;

    @media(max-width: 425px) {
      padding: 0;
    }
  }

  form {
    display: inline-block;
    z-index: 10;
    background: #101010;
    border-radius: 1px;
    padding: 16px 12px;
    max-width: 370px;
    width: 100%;
    margin: 32px;

    @media(max-width: 640px) {
        margin: 12px;
    }

    @media(max-width: 425px) {
      max-width: 100%;
      margin: 0;
    }

    .section-title {
      color: #FFFFFF;
      margin: 0 0 19px;
      font-size: 18px;
      line-height: 22px;

      &:after {
        height: 1px;
      }
    }

    .input-text {
      display: block;
      margin: 0 0 8px;

      .input {
        display: block;
        background: #29292F;
        border: 1px solid #0E0E0E;
        box-sizing: border-box;
        border-radius: 3px;
        height: 44px;
        width: 100%;
        padding: 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;

        &::placeholder {
          color: #5D5D62;
        }
      }

      .textarea {
        height: 132px;
      }

      .error {
        color: #E31B4B;
        font-weight: normal;
        font-size: 14px;
        margin: 0 0 0 10px;
      }
    }

    .form-title {
      margin: 12px 0 6px;
    }

    .range-slider__all {
      background: #29292F;
      border: 1px solid #0E0E0E;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 6px 12px;
      margin: 0 0 12px;
    }

    .range_slider {

      &:last-child {
        .value.margin {
          margin: 0 0 0 4px;
        }
      }

      .irs-single {
        display: none;
      }

      .irs--round {
        margin: 0 0 6px;
      }

      .value {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin: 0 0 12px;

        &.margin {
          margin: 0 0 12px 4px;
        }
      }
    }

    input[type=file] {
      display: none;
    }

    .button {
      border: none;
      border-radius: 3px;
      width: 100%;

      &:disabled {
        background: #EEEEEE;
      }
    }

    .order {
      display: none;

      @media(max-width: 768px) {
        display: block;
        position: relative;
        bottom: 0;
        right: 0;
        margin: 8px 0 0 0;
      }
    }

    .dropdown {
      position: relative;

      .dropdown-but {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #5D5D62;
        cursor: pointer;

        &.active {
          color: #FFFFFF;
        }

        &:after {
          content: "";
          width: 20px;
          height: 20px;
          flex-shrink: 0;
          margin: 0 0 0 12px;
          background: url("../img/svg/arrow.svg") center no-repeat;
        }
      }

      .dropdown-content {
        background: #29292F;
        border: 1px solid #0E0E0E;
        border-radius: 3px;
        padding: 10px;
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 180px;
        overflow-y: auto;
        scrollbar-color: #FFFFFF #888888;
        scrollbar-width: thin;
        display: none;

        &::-webkit-scrollbar {
          width: 2px;
        }

        &::-webkit-scrollbar-track {
          background: #888888;
        }

        &::-webkit-scrollbar-thumb {
          background: #FFFFFF;
        }

        ul {

        }

        li {
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          margin: 0 0 6px;
          cursor: pointer;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
