{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {#  Seo  #}
{#    <meta name="keywords" content="{% block SEO-keywords %}{% endblock %}"/>#}
    <meta name="keywords" content="печать, стены, стекло, дерево, кафель, кожа,
     холст, холсты, забор, авто, граффити, аэрография, рисовать, рисование,
     разрисовать, разукрасить, настнная печать, настеная печать, уф печать,
     УФ печать, широкоформатная печать, широкоформатная уф печать,
     печать в Бишкеке, печать в Бишкеке, настенная печать в бишкеке,
     широкоформатная печать в бишкеке, нарисовать на стене, художник,
     художники, нарисовать, принт, настенный принт, print, walls print, wall paint,
     wall print, роспись, роспись стен, роспись стен в Бишкеке,
     нарисовать на стене, рисование на стене, художник по стенам,
     автоматическая печать, печать на любой поверхности, услуги печати,
     эко печать, улбтрафиолетоввая печать, печать ультрафиолетом,
     разукрасить стену, разукрасить помещение, разукрасить офис,
     разурасить детскую комнату, офис, стена, детская, несмываемая краска,
     логотип, печать на стекле, Бишкек"/>
{#    <meta name="description"#}
{#          content="{% block SEO-description %}{% endblock %}"/>#}
    <meta name="description"
          content="Широкоформатная печать на стенах в Бишкеке. Настенный
          принтер. Рисунки на стене, холсте, коже, дереве, стекле, авто.
          УФ печать. Разрисовка стен."/>
    <meta name="copyright" content="">
    <meta name="language" content="RU">
    <meta name="robots" content=""/>
    <meta name="author" content="">
    <meta name="reply-to" content="">
    <meta name="owner" content="">
    <meta name="url" content="http://www.wallsprint.kg/">
    <meta name="identifier-URL" content="http://wallsprint.kg//">
    <meta name="google-site-verification" content="U1_ub9TgwHRMFYFH1EYqhfD-8e6y7LpSMf0X_HDRTj8" />
    <meta name="yandex-verification" content="0ba94d70aa65f123" />
    {#  OpenGraph  #}
    <meta name="og:title" content="{% block OG-title %} {% endblock %}"/>
    <meta name="og:url" content="{% block OG-url %} {% endblock %}"/>
    <meta name="og:image" content="{% block OG-image %} {% endblock %}"/>
    <meta name="og:description"
          content="{% block OG-description %} {% endblock %}"/>
    {#  TitlePage  #}
{#    <title>{% block title_page %}{% endblock %}</title>#}
    <title>Настенная широкоформатная печать</title>
    {#  FaviconSite  #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    {#  Fonts  #}
    <link rel="stylesheet" href="{% static 'fonts/inter/stylesheet.css' %}">
    <link rel="stylesheet"
          href="{% static 'fonts/IBMPlexSerif/stylesheet.css' %}">
    {#  StyleLibs  #}
    {% block style-libs %}{% endblock %}
    {#  Style  #}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ionRangrSlider/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'light-gallery/lightgallery.css' %}">
    {#  CustomStyle  #}
    {% block style %}{% endblock %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(86369191, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86369191" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>

{% include 'spriteSVG/sprite.html' %}
{% include 'components/modal-success.html' %}
{% include 'components/modal_login.html' %}

<div class="page {% block page %}{% endblock %}">
    {% block header %}
        {% include 'partials/header/header.html' %}
    {% endblock %}

    <main>

        {% block content %}{% endblock %}

    </main>

    {% block footer %}
        {% include 'partials/footer/footer.html' %}
    {% endblock %}

</div>
 <a target="_blank"
     href="https://wa.me/+996700833733?text=Добрый день,"
     class="whats-app">
    <img src="{% static 'img/svg/whatsapp-icon.svg' %}" alt="">
  </a>
<script src="{% static 'js/jquery-2.2.4.js' %}"></script>
<script src="{% static 'ionRangrSlider/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/header-settings.js' %}"></script>
<script src="{% static 'js/imask.js' %}"></script>
<script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block scripts %}{% endblock %}

</body>

</html>
