{% load static %}

{#TODO: добавить класс "show" что бы показать модалку #}
<div class="modal-success modal_login">
    <div class="modal">
        <div class="close"></div>
        <div class="modal-inner">
            <div class="modal-img">
                <img src="{% static 'img/jpg/modal-img.jpg' %}"
                     alt="load img">
                <div class="description">
                    <h4>Вход</h4>
                    <form id="login-modal-form" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="text" class="input" id="user_name"
                               placeholder="Имя пользователя"
                               style="margin-bottom: 10px">
                        <input type="password" class="input" id="password"
                               placeholder="Пароль"
                        >
                    </form>
            <button type="button" id="send_login_form" class="">Войти</button>
                </div>
            </div>
        </div>
    </div>
</div>
