{% load static %}

{#TODO: добавить класс "show" что бы показать модалку #}
<div class="modal-success" id="modal_success">
    <div class="modal">
        <div class="close"></div>
        <div class="modal-inner">
            <div class="modal-img">
                <img src="{% static 'img/jpg/modal-img.jpg' %}"
                     alt="load img">
                <div class="description">
                    <h4>Спасибо за заказ!</h4>
                    <p>Наш менеджер скоро свяжется с Вами</p>
                </div>
            </div>
        </div>
    </div>
</div>
